@import 'fonts/styles';
@import 'fonts/google-test';

/*
  font-family: 'IM Fell English SC', serif;
  font-family: 'IM Fell DW Pica', serif;
  font-family: 'IM Fell DW Pica SC', serif;
  font-family: 'UnifrakturCook', cursive;
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'UnifrakturMaguntia', cursive;
  font-family: 'IM Fell English', serif;
  font-family: 'IM Fell French Canon SC', serif;
  font-family: 'IM Fell Double Pica SC', serif;
  font-family: 'Alegreya SC', serif;
*/
