* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  color: $baseFontColor;
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: $baseFontSize;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}
